<ion-view view-title="Other Plugins">
  <ion-content>
    <div class="list card">
      <div class="item padding_zero">
        <a class="button button-block button-clear button-positive margin_zero"
           href="https://github.com/rajeshwarpatlolla/ionic-timepicker" target="_blank">ionic-timepicker</a>
      </div>
      <div class="item padding_zero">
        <a class="button button-block button-clear button-positive margin_zero"
           href="https://github.com/rajeshwarpatlolla/ionic-toast" target="_blank">ionic-toast</a>
      </div>
      <div class="item padding_zero">
        <a class="button button-block button-clear button-positive margin_zero"
           href="https://github.com/rajeshwarpatlolla/ionic-ratings" target="_blank">ionic-ratings</a>
      </div>
    </div>
  </ion-content>
</ion-view>
