<ion-view view-title="Contact">
  <ion-content>
    <div class="list card">
      <div class="item white_space_normal">
        Gmail : rajeshwar.patlolla@gmail.com
      </div>
      <div class="item white_space_normal">
        Paypal : rajeshwar.patlolla@gmail.com
      </div>
      <div class="item white_space_normal">
        WhatsApp : +91 9030043832
      </div>
      <div class="item white_space_normal">
        Skype : rajeshwarpatlolla
      </div>
      <div class="item white_space_normal">
        <div>Comment or Rate @ <a href="http://market.ionic.io/plugins/ionicdatepicker" target="_blank">Ionic Market</a>
        </div>
      </div>
      <div class="item">
        <div class="row text-center">
          <div class="col-20">
            <a href="https://github.com/rajeshwarpatlolla" target="_blank">
              <i class="icon ion-social-github font_28px"></i>
            </a>
          </div>
          <div class="col-20">
            <a href="https://forum.ionicframework.com/users/rajeshwarpatlolla/activity" target="_blank">
              <i class="icon ion-ionic font_28px"></i>
            </a>
          </div>
          <div class="col-20">
            <a href="https://plus.google.com/101180782709956980424/posts" target="_blank">
              <i class="icon ion-social-googleplus font_28px"></i>
            </a>
          </div>
          <div class="col-20">
            <a href="https://twitter.com/rajeshwar_9032" target="_blank">
              <i class="icon ion-social-twitter font_28px"></i>
            </a>
          </div>
          <div class="col-20">
            <a href="https://www.facebook.com/rajeshwarpatlolla" target="_blank">
              <i class="icon ion-social-facebook font_28px"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
