<ion-view view-title="Date Picker">
  <ion-content class="padding">

    <div class="card padding">
      <button class="button button-positive button-block" style="margin: 0;"
              ng-click="openDatePickerOne()">Open Date Picker Popup
      </button>
      <div class="text-center padding-top" ng-if="selectedDate1">{{selectedDate1 | date:'longDate'}}</div>
    </div>

    <div class="card padding">
      <button class="button button-positive button-block" style="margin: 0;"
              ng-click="openDatePickerTwo()">Open Date Picker Modal
      </button>
      <div class="text-center padding-top" ng-if="selectedDate2">{{selectedDate2 | date:'longDate'}}</div>
    </div>

  </ion-content>
</ion-view>
