<div class="row">
  <div class="col col-10">
    <!--<button class="button-clear" ng-click="prevMonth()" ng-class="{'pointer_events_none':(disablePreviousDates && previousDayEpoch > currentMonthFirstDayEpoch), 'color_blue':(disablePreviousDates && previousDayEpoch < currentMonthFirstDayEpoch)}">-->
    <button class="button-clear color_blue" ng-click="prevMonth()" ng-class="{'pointer_events_none':(disablePreviousDates && previousDayEpoch > currentMonthFirstDayEpoch)}">
      <i class="icon ion-chevron-left"></i>
    </button>
  </div>
  <div class="col col-80 text-center">{{currentMonth}} - {{currentYear}}</div>
  <div class="col col-10">
    <button class="button-clear color_blue" ng-click="nextMonth()">
      <i class="icon ion-chevron-right"></i>
    </button>
  </div>
</div>
<div class="">
  <div class="row">
    <div class="col" ng-repeat="weekName in weekNames track by $index" style="font-weight: bold"> {{ weekName }}</div>
  </div>
  <div style="height: 180px;">
    <div class="row" ng-repeat="row in rows track by $index" style="text-align: center;">
      <div class="col no_padding" ng-repeat="col in cols track by $index"
           ng-class="{'date_col': (dayList[$parent.$index * numColumns + $index].day != undefined), 
           'date_selected': (dayList[$parent.$index * numColumns + $index].dateString === selctedDateString && dayList[$parent.$index * numColumns + $index].day != undefined) ,
           'today' : (dayList[$parent.$index * numColumns + $index].date == today.date && dayList[$parent.$index * numColumns + $index].month == today.month && dayList[$parent.$index * numColumns + $index].year == today.year)}">
        <div class="date_cell" ng-click="dateSelected(dayList[$parent.$index * numColumns + $index])" ng-class="{'pointer_events_none':(disablePreviousDates && previousDayEpoch > dayList[$parent.$index * numColumns + $index].epochLocal)}">
          {{ dayList[$parent.$index * numColumns + $index].date }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="error_msg" ng-show="date_selection.submitted === true && date_selection.selected === false"> Date not selected. Please select a date.</div>